<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matheus Fabião - Desenvolvedor Python Full-Stack">
    <meta name="description" content="Sociall Digital - Plataforma inovadora de marketing digital e gestão de redes sociais. Automatize suas postagens, analise métricas e potencialize sua presença online com nossa solução completa para agências e profissionais de marketing.">
    <meta name="keywords" content="gestão de redes sociais, marketing digital, automação de posts, análise de métricas, agência de marketing, instagram, facebook, linkedin, twitter, planejamento de conteúdo, engajamento social, marketing automation, social media, analytics">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
</head>
<body>
    <header>
        {% block header %}{% endblock header %}
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        {% block footer %}{% endblock footer %}
    </footer>

    {% block javascript %}{% endblock javascript %}
</body>
</html>